*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
    font-family: Arial, sans-serif;
    background-color: rgb(249, 4, 86);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 20px;
    border-color: black;
  }
  
  .input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .input-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task-text {
    flex: 1;
    margin-left: 10px;
  }
  
  .task.completed .task-text {
    text-decoration: line-through;
    color: gray;
  }
  
  .task button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
  }
  